<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">{{ 'menu_accueil' | translate }}</a></li>
    <li><a ng-href="#">{{ 'menu_about' | translate }}</a></li>
    <li><a ng-href="#">{{ 'menu_contact' | translate }}</a></li>
	<li><button class="btn" ng-click="changeLanguage('fr_FR')" translate="BUTTON_LANG_FR"></button></li>
	<li><button class="btn" ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN"></button></li>
  </ul>
  <h3 class="text-muted">Jerome Brule - Ubisoft</h3>
</div>

<div class="jumbotron">
	<h1>{{ 'GREETING' | translate }}</h1>
	<p class="lead">
		<img src="images/yeoman.png" alt="I'm Yeoman">
	</p>
</div>
<hr />
<div class="ipt">
	<span>{{ 'SEARCH' | translate }}</span> 
	<input ng-model="search.$" />
</div>
<hr />
<table id="searchObjResults" class="lst">
  <tr>
	<th width=250>{{ 'NAME' | translate }}</th>
	<th width=150>{{ 'CITY' | translate }}</th>
	<th width=150>{{ 'PRO' | translate }}</th></tr>
  <tr ng-repeat="friend in friends | filter:search:strict">
    <td>{{friend.name}}</td>
	<td>{{friend.ville}}</td>
    <td>{{friend.profession}}</td>
  </tr>
</table>

<div class="row marketing">
	<google-map draggable="true" center="map.center" zoom="map.zoom">
        <marker ng-repeat="marker in friends | filter:search:strict" coords="marker">
			<window isIconVisibleOnClick="true" show="true">
                <p>{{marker.description}}</p>
            </window>
        </marker>
	</google-map>
</div>


<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
